{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{% block content %}

<div class="contenedorFormulario">

    {% if "valido" in request.GET %}
        <p style="color: white;">Informacion enviada correctamente</p>
    {% endif %}

    <form action="" method="post" style="text-align: center;">
        {% csrf_token %}
        <table style="color: white;margin: 20px auto;">{{miFormulario.as_table}}</table>
        <input type="submit" value="Enviar" style="width: 150px;">
    </form>


</div>
<p style="color: white;">{{request.post}}</p>
{% endblock %}