{% extends "proyectowebapp/base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

    <form method="post" action="" style="color: gray;">

        {% csrf_token %}


        <div style="width: 70%; margin: auto;">

            {% if messages %}

            {% for mensaje in messages %}

            <span class="alert alert-{{mensaje.tags}}">{{mensaje}}</span>

            

            {% endfor %}


            {% endif %}
            <br/><br/>


            {{form|crispy}}
            <button type="submit" class="btn btn-success">Loguin</button>
        </div>
    </form>

{% endblock %}